{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>
  <div class="testbox">
    <form action="" method="post">
      <div class="banner">
        <h1>Antares feedback</h1>
      </div>
      <div class="item">
      {% csrf_token %}
      {{ userForm }}
      {% for pregunta in preguntas %}
        {% if pregunta.tipo_pregunta == 'Texto'%}
          <div class="item">
            <p>{{ pregunta.nombre }}</p>
            <div class="name-item">
              {{ form }}
            </div>
          </div>
        {% elif pregunta.tipo_pregunta == 'Email'%}
          <div class="item">
            <p>{{ pregunta.nombre }}</p>
            <input type="email" name="email"/>
          </div>

        {% elif pregunta.tipo_pregunta == 'Numero'%}
          <div class="item">
            <p>{{ pregunta.nombre }}</p>
            <input type="text" name="number"/>
          </div>
        {% else %}
          <div class="item">
            <p>{{ pregunta.nombre }}</p>
            <input type="text" name="number"/>
          </div>
        {% endif %}
      {% endfor %}
      </div>
      <div class="btn-block">
        <button type="submit" id="button">Enviar respuestas</button>
      </div>
    </form>

  </div>
</body>
{% endblock %}

      {% comment %} {% for pregunta in preguntas %}
        {% if pregunta.tipo_pregunta == 'Texto'%}
          <div class="item">
            <p>{{ pregunta.nombre }}</p>
            <div class="name-item">
              {{ form }}
            </div>
          </div>
        {% elif pregunta.tipo_pregunta == 'Email'%}
          <div class="item">
            <p>{{ pregunta.nombre }}</p>
            <input type="email" name="email"/>
          </div>

        {% elif pregunta.tipo_pregunta == 'Numero'%}
          <div class="item">
            <p>{{ pregunta.nombre }}</p>
            <input type="text" name="number"/>
          </div>
        {% elif pregunta.tipo_pregunta == 'Unico'%}
        {% endif %}
      {% endfor %} {% endcomment %}